.nav {
    margin-left: 84%;
    margin-top: 20px;
}

.nav-left {
    padding: 10px;
    color: black;
    font-family: Arial;
    font-size: 13px;
    text-decoration: none;
}

.nav-left:hover {
    text-decoration: underline;
}

.svg {
    width: 20px;
}

.logo {
    text-align: center;
    margin-top: 75px;
}

.profilpic {
    border-radius: 50%;
    width: 30px;
}

input {
    width: 550px;
    height: 44px;
    border-radius: 50px ;
    margin-left: 31%;
    margin-top: 20px;
    color: #202124;
   /* box-shadow: 1px 1px 1px 1px rgb(187, 187, 187); */
   border-style: ridge;
   opacity: 0.2;
   box-shadow: none;
   
}
input:hover{
     box-shadow: 2px 2px 2px 2px rgb(187, 187, 187); 
}

button {
    color: black;
    background-color:  #F8F9FA ;
    height: 36px;
    border-style: none;
    padding-left: 22px;
     padding-right: 22px;
     text-align: center;
    
}

button:hover {
    /* box-shadow: 0.5px 0.5px 0.5px 0.5px  rgb(187, 187, 187); */
    border:  1px solid rgb(194, 192, 192) ;
}

.mlt {
    margin-left: 38%;
    margin-top: 25px;
    
}

p {
    text-align: center;
    font-family: Arial;
    font-size: 13px;
    margin-top: 35px;
    
}

p>a {
    text-decoration: none;
}
p>a:hover {
    text-decoration:underline;
}

.footer1 {

    background-color: #F2F2F2;
    padding: 15px 30px;
    border-bottom:  1px solid rgb(194, 192, 192);
    font-size: 15px;   
    color: #707785; 
    font-family: Arial, sans-serif;
    
    
}

.aml {
    margin-left: 20%;
}

.footer1>a {
    padding-right: 15px;
    text-decoration: none;
    color: #707785;
    font-size: 15px;
    font-family: Arial, sans-serif;
    

}

.footer1>a:hover {
    text-decoration: underline;
}
.footer1>button {
    background-color: #F2F2F2;
    border: none;
    cursor: pointer;
    color: #707785;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

.footer1>button:hover {
    text-decoration: underline;
}

